<p class="top-bar-desktop">
    <mat-toolbar>
        <div class="text">
            <span class="title">NOVA ADMISSÃO COOPERADO</span>
            <span class="subtitle">Cadastro / Admissão do Cooperado/ Nova Admissão de Cooperado</span>
        </div>
        <span class="example-spacer"></span>
        <div class="actions">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
            <button class="toolbarButton">VIACRED</button>
            <img src="/assets/icon.jpg" alt="icon">
        </div>
    </mat-toolbar>
</p>
